.section1 a{
    margin-top: 20px;
    background-color: white; 
    color: #007377; 
    font-weight: bold; 
    font-family: 'Manrope', sans-serif; 
    border: none; 
    white-space: nowrap;
  }
  
  .section1 i{
    border: 0px black solid; 
    border-radius: 50%; 
    background-color: #007377;
    color:white; 
    width: 20px; 
    height: 20px; 
    font-size: 16px;
  }